.container {
  width: 1024px;
  margin: 0 auto;
}

table.table {
  width: 100%;
  background: #fafafa;

  td {
    text-align: center;
    margin: 0;
    padding: 5px;
    border-top: 1px solid lightgray;
  }

  tr.title {
    background: #f1f1f1;

    h3 {
      margin: 5px;
    }
  }
}

div.text-right {
  text-align: right;
}

div.text-center {
  text-align: center;
}

.form-control {
  width: 100%;
}

button.btn {
  padding: 5px;
  background: #2c4065;
  border: none;
  color: white;
  font-size: 8pt;
  cursor: pointer;

  &:hover {
    background: #335580;
  }

  &:focus {
    background: #3c699c;
  }

  &:active {
    background: #213450;
  }
}

div.error {
  color: red;
}

div.form-group {
  margin: 10px 10px;
}

div.overlay {
  background: black;
  opacity: 0.6;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.modal {
  padding: 10px;
  background: #eee;
  max-width: 400px;
  z-index: 10000;
  position: fixed;
  left: 30%;
  right: 30%;
  top: 25%;
}