<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>City</th>
        <th>Date</th>
        <th>Temperature</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="measure in $ctrl.measures track by measure.id">
        <td>{{ $index + 1}}</td>
        <td>{{ measure.city.name }}</td>
        <td>{{ measure.measureDate }}</td>
        <td>{{ measure.temperatureValue }}</td>
        <td><button class="btn" data-ng-click="$ctrl.onEditMeasure({measure:measure})">Edit</button>
            <button class="btn" data-ng-click="$ctrl.onDeleteMeasure({measure:measure})">Delete</button></td>
    </tr>
    </tbody>
</table>