<form name="measureEditor" data-ng-submit="$ctrl.onSubmit({measure:$ctrl.measure, form: measureEditor})">
    <div class="form-group">
        <label>City:
            <select class="form-control" required data-ng-model="$ctrl.measure.city.id" name="city"
                    data-ng-options="i.id as i.name for i in $ctrl.cities">
            </select>
            <div class="error" data-ng-messages="measureEditor.city.$error">
                <div data-ng-message="required">This is required.</div>
            </div>
        </label>
    </div>
    <div class="form-group">
        <label>Date: <input required type="date" class="form-control" data-ng-model="$ctrl.measure.measureDate" name="measureDate"></label>
        <div class="error" data-ng-messages="measureEditor.measureDate.$error" data-ng-if="measureEditor.measureDate.$dirty">
            <div data-ng-message="required">This is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label>Temperature: <input autofocus required type="number" class="form-control"
                                   data-ng-model="$ctrl.measure.temperatureValue" name="temperatureValue"></label>
        <div class="error" data-ng-messages="measureEditor.temperatureValue.$error" data-ng-if="measureEditor.temperatureValue.$dirty">
            <div data-ng-message="required">This is required.</div>
        </div>
    </div>
    <div class="form-group text-right">
        <button class="btn" type="submit">OK</button>
        <button class="btn" type="button" data-ng-click="$ctrl.onCancel()">Cancel</button>
    </div>
</form>