<modal id="measure-editor-modal" data-ng-cloak>
    <div>
        <h3>{{ measure.id ? 'Update' : 'New' }} Measure</h3>
    </div>
    <div>
        <measure-editor on-cancel="onClickCancel()"
                        on-submit="onSubmit(measure, form)" cities="cities" measure="measure"></measure-editor>
    </div>
</modal>
