<div>
    <h3>Tiny Gismeteo Site</h3>
    <div class="text-right"><button class="btn" data-ng-click="measureEditor({})">Add Measure</button></div>
    <measure-table measures="measures"
                   on-delete-measure="onDeleteMeasure(measure)"
                   on-edit-measure="measureEditor(measure)"></measure-table>
</div>
